name: Task
on:
  push:
    branches: [main]
  schedule:
    - cron:  '0 */6 * * *'
  workflow_dispatch:

jobs:
  generate:
    runs-on: macos-latest
    name: Generate Video
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          repository: mishra-ankit/media-generator
          token: ${{ secrets.TOKEN }} 
      - name: Install dependencies
        run: |
         brew install node@16
         brew install ffmpeg
      - name: NPM Install
        run: npm ci
      - name: Permission
        run: chmod +x run.sh
      - name: Run
        run: ./run.sh
      - name: Commit
        if: ${{ always() }}
        uses: stefanzweifel/git-auto-commit-action@v4.8.0
        with:
          commit_message: Update
